* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Condensed", sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

#left-container {
  background: url(./img/bg.png) no-repeat center/cover;
  padding-top: 5%;
  position: absolute;
  width: 50%;
  height: 100vh;
  text-align: center;
  align-items: center;
}

#left-container img {
  width: 150px;
}

#left-container h1,
h3,
img {
  color: aliceblue;
  margin-bottom: 5%;
}

#left-container h1 {
  color: black;
  background-color: #ffa500;
}
#left-container h3 {
  width: 50%;
  line-height: 1.5;
  margin-left: 25%;
}

#right-container {
  padding-top: 5%;
  width: 50%;
  position: absolute;
  left: 50%;
}

#right-container h1 {
  text-align: center;
}

#calc-container {
  background: #fdc830; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #f37335,
    #fdc830
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border: 1px solid #fdc830;;
  border-radius: 2%;
  margin: 2% 20%;
  height: 25rem;
}

#dados{
  display: none;
}
